.Container {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    z-index: 1;
    background-image: linear-gradient(180deg, #ffffff00, #4e0a47de);  
    position: relative;
}

.Interactions {
     color: white;
     align-self: flex-start;
     height: auto;
     z-index: 10;
     height: auto; 
     transform: translateY(50px);
     opacity: 0;
     h1, h3, a {
        font-family: 'Roboto', sans-serif;
     }
     .Text {
         font-size: calc(1em + 8vw);
         font-weight: 400;
     }

     .Sub_Text {
        font-size: calc(1em + 3vw);
        font-weight: 300;
        margin: 20px 0px;
        margin-right: 40%;

    }
     .Button {
        padding: 23px 45px; 
        border: none;
        font-weight: 300;
        background-color: #fc0a7e;
        color: rgb(252, 252, 252); 
        font-size: calc(0.5rem + 0.5em);; 
        border-radius: 3px;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
            background-color: #f1f1f1;
            color: rgb(136, 111, 111); 
        }
     }
}

.decoration_IMG {
   width: calc(80% + 10vw); 
   margin: 40px 0;
   transform: translateY(50px);
   opacity: 0;

}



@media screen and (min-width: 900px) {
    .Container {
        height: 100vh;
        align-items: center;
    }
    .decoration_IMG {
        position: absolute;
        bottom: -10%;
        right: 5%;
        width: 100%;
        max-width: 550px;
        z-index: 0;
        
     }
     .Interactions {
         align-self: center;
         justify-self: center;
         width: 70%;
         margin-top: 10%;
         .Text {
            font-size: calc(1em + 3vw);
        }
   
        .Sub_Text {
           font-size: calc(1em + 1.2vw);
           margin-right: 10%;
       }
     } 

}